# Move death plane that covers teleport in 6-2 slightly further down
# so it doesn't cover the teleporter exit anymore
Make62Beatable = true

# Various cheat/shortcut hotkeys (see readme)
Cheats = false

# Zoom camera with numpad +/-, move with numpad 2/4/6/8
Camera = false

# Toggle deathplane display with Ctrl+V
Visuals = true

# Enable GUI overlay. Required for notifications. Shows mod version in main menu.
GUI = true

# Notify exactly when levelReached has changed
LevelReachedNotification = false

# How long notifcations stay on screen
NotificationDisplayTime = 7.5

# Immediately restart current level after death instead of returning to menu
# This may skip having to replay a previous level if the current (boss) level can't be
# selected from the main menu
QuickRetry = false

# Skip cutscenes by pressing Escape
AllowCutsceneSkipping = true

# More reliable playback, avoid humongous wait times after cutscenes
ImproveCutscenePlayback = true

# Finally get the full lore by restoring cutscenes that just don't play normally
RestoreCutscenes = true